<h1 mat-dialog-title>{{data.message}}</h1>
<mat-dialog-content>
  <p *ngFor="let item of data.detail">{{item}}</p>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-flat-button
    [color]="(data.options[0] == 'Delete' || data.options[0] == 'Reset' || data.options[0] == 'Discard') ? 'warn' : 'primary'"
    [mat-dialog-close]="data.options[0]" cdkFocusInitial>{{data.options[0]}}</button>
  <!-- cdkFocusInitial doesn't work for drag & drop actions before -->
  <div *ngFor="let option of data.options; let i = index">
    <div *ngIf="i > 0">
      <button mat-button color="primary" mat-dialog-close [mat-dialog-close]="option" style="margin-left: 6px">
        {{option}}
      </button>
    </div>
  </div>
</mat-dialog-actions>