.viewer-panel {
  position: relative;
  height: 100%;
  color: white; 
  display: grid; 
  grid-template-columns: 50% 50%; 
  grid-template-rows: 50% 50%;
}

.single-panel {
  position: absolute;
  z-index: 2; 
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
}

.overlay {
  position: absolute; 
  z-index: 3;

  /* prevent text selection on overlay */
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
