canvas {
  position: absolute; 
  height: 100%; 
  width: 100%;
}

.overlay {
  /* prevent text selection on overlay */
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  /* ignore pointer event on overlay */
  pointer-events: none;
}

.toolbar {
  display: block;
  
}
.toolbar button{
  visibility: hidden;
}
.toolbar:hover button{
  visibility: visible;
}

.toolbar .tools:not(:last-child) {
  border-bottom: none;
}

.tools {
  color: white;
  
  display: inherit;
  width: auto;
}