<div (window:resize)="onResize($event)" style="height: 100%; position: relative">
  <!-- <button type="button" id="startBtn" #startBtn>Start Animation</button>
    <button type="button" id="stopBtn" #stopBtn>Stop Animation</button> -->
    <div style="height: 100%;" #dicomViewer>
      <canvas id="labelLayer" (mousedown)="onMouseDown($event)"></canvas>
    </div>
    
    <div id="topleft" class="overlay" style="position: absolute; top: 0px; left: 0px">
      <p>Current Frame: {{ currentSlice + 1 }} / {{ displayData.numberOfImages }}</p>
    </div>
    <!--div id="bottomright" style="position: absolute; bottom: 0px; right: 0px">
      <button mat-button *ngIf="!isFullScreen" (click)="isFullScreen = true"><mat-icon>fullscreen</mat-icon></button>
      <button mat-button *ngIf="isFullScreen" (click)="isFullScreen = false"><mat-icon>fullscreen_exit</mat-icon></button>
    </div-->
    <div style="position: absolute; top: 40%; left: 35%" class="toolbar">
      
      <button mat-button matTooltip="Play" [matTooltipShowDelay]="500" id="startBtn" class="tools" (click)=start() > <mat-icon>play_arrow</mat-icon> </button>
      <button mat-button matTooltip="Pause" [matTooltipShowDelay]="500" id="stopBtn" class="tools" (click)=stop() > <mat-icon>pause</mat-icon> </button>
      
      <!-- <button mat-button matTooltip="Reset display" [matTooltipShowDelay]="500" id="reset" class="tools" (click)="resetDisplay()" > <mat-icon>refresh</mat-icon> </button> -->
    </div>
  </div>
  