<div class="centered mat-elevation-z3">
    <form [formGroup]="userForm">
      <table mat-table class="table" [dataSource]="dataSource" matSort>
        <!-- Checkbox select column -->
        <ng-container matColumnDef="select" *ngIf="displayedColumns.includes('select')">
          <th mat-header-cell *matHeaderCellDef>
            <mat-checkbox (change)="$event ? masterToggle() : null"
              [checked]="userSelection.hasValue() && isAllSelected()"
              [indeterminate]="userSelection.hasValue() && !isAllSelected()" [aria-label]="checkboxLabel()">
            </mat-checkbox>
          </th>
          <td mat-cell *matCellDef="let row">
            <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? userSelection.toggle(row) : null"
              [checked]="userSelection.isSelected(row)" [aria-label]="checkboxLabel(row)">
            </mat-checkbox>
          </td>
        </ng-container>
  
        <!-- User username column -->
        <ng-container matColumnDef="username">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Username</th>
          <td mat-cell *matCellDef="let user">
            <div *ngIf="selectedUser != user.id; else selected">
              {{ user.username }}
            </div>
            <ng-template #selected>
              <mat-form-field class="form-field">
                <input matInput formControlName="username" type="text" placeholder="Username">
                <mat-error>Username is required</mat-error>
              </mat-form-field>
            </ng-template>
          </td>
        </ng-container>
  
        <!-- User password column -->
        <ng-container matColumnDef="password" *ngIf="displayedColumns.includes('password')">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Password</th>
          <td mat-cell *matCellDef="let user">
            <div *ngIf="selectedUser != user.id; else selected">
              ...
            </div>
            <ng-template #selected>
              <mat-form-field class="form-field">
                <input matInput formControlName="password" type="password" placeholder="Set New Password">
              </mat-form-field>
            </ng-template>
          </td>
        </ng-container>
  
        <!-- User confirm password column -->
        <ng-container matColumnDef="confirmPassword" *ngIf="displayedColumns.includes('confirmPassword')">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Confirm Password</th>
          <td mat-cell *matCellDef="let user">
            <div *ngIf="selectedUser != user.id; else selected">
              ...
            </div>
            <ng-template #selected>
              <mat-form-field class="form-field">
                <input matInput formControlName="confirmPassword" type="password" placeholder="Confirm Password">
                <mat-error *ngIf="!checkMatchingPasswords()">
                  Passwords do not match
                </mat-error>
              </mat-form-field>
            </ng-template>
          </td>
        </ng-container>
  
        <!-- Organization column -->
        <ng-container matColumnDef="organization">
          <th mat-header-cell *matHeaderCellDef>Organization</th>
          <td mat-cell *matCellDef="let user">
            <div *ngIf="selectedUser != user.id || !user['profile']; else selected">
              {{ user?.profile?.organization_name }}
            </div>
            <ng-template #selected>
              <div formGroupName="profile">
                <mat-form-field class="form-field">
                  <mat-select matInput formControlName="organization" placeholder="Organization">
                    <mat-option *ngFor="let organization of organizationList" [value]="organization.id">
                      {{organization.name}}</mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
            </ng-template>
          </td>
        </ng-container>
  
        <!-- User email column -->
        <ng-container matColumnDef="email">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Email</th>
          <td mat-cell *matCellDef="let user">
            <div *ngIf="selectedUser != user.id; else selected">
              {{ user.email }}
            </div>
            <ng-template #selected>
              <mat-form-field class="form-field">
                <input matInput formControlName="email" type="email" placeholder="Email">
                <mat-error>Not a valid email</mat-error>
              </mat-form-field>
            </ng-template>
          </td>
        </ng-container>
  
        <!-- User admin status column -->
        <ng-container matColumnDef="admin">
          <th mat-header-cell *matHeaderCellDef>User Status</th>
          <td mat-cell *matCellDef="let user">
            <div *ngIf="selectedUser != user.id || !user['profile']; else selected">
              <mat-icon color="primary" *ngIf="(!user['profile'] || user?.profile.is_admin)"
                style="vertical-align: middle;">supervisor_account</mat-icon>
              {{ getAdminStatus(user) }}
            </div>
            <ng-template #selected>
              <div formGroupName="profile">
                <mat-form-field class="form-field">
                  <mat-select matInput formControlName="is_admin" placeholder="User Status">
                    <mat-option *ngIf="checkStaffStatus() && selectedUser == 'new-id'" [value]="'staff'">Staff
                    </mat-option>
                    <mat-option [value]="true">Admin</mat-option>
                    <mat-option [value]="false">User</mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
            </ng-template>
          </td>
        </ng-container>
  
        <!-- Action (edit/save) column -->
        <ng-container matColumnDef="action">
          <th mat-header-cell *matHeaderCellDef>Action</th>
          <td mat-cell *matCellDef="let user">
            <div *ngIf="selectedUser != user.id; else selected">
              <button mat-stroked-button color="primary" (click)="setSelectedRow(user)">
                Edit
              </button>
            </div>
            <ng-template #selected>
              <button mat-flat-button color="primary" (click)="saveChanges()">
                Save
              </button>
              <button mat-icon-button (click)="resetChanges()">
                <mat-icon>clear</mat-icon>
              </button>
            </ng-template>
          </td>
        </ng-container>
  
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row class="element-row" [ngClass]="{'selected': selectedUser == row.id}"
          *matRowDef="let row; columns: displayedColumns"></tr>
      </table>
    </form>
  
    <mat-toolbar>
      <mat-toolbar-row>
        <div class="buttons">
          <button mat-icon-button color="primary" matTooltip="Add a user/admin" (click)="toggleNewRow()">
            <mat-icon>person_add</mat-icon>
          </button>
  
          <button mat-icon-button color="warn" matTooltip="Delete user/admin" [disabled]="!userSelection.selected.length"
            (click)="deleteRow()">
            <mat-icon>delete</mat-icon>
          </button>
        </div>
  
        <mat-paginator class="paginator" [pageSizeOptions]="[10, 20, 30]" showFirstLastButtons></mat-paginator>
      </mat-toolbar-row>
    </mat-toolbar>
  </div>