.table {
    width: 100%;
  }
  
  .form-field {
    width: 90%;
  }
  
  .centered {
    width: 85%;
    margin: auto;
  }
  
  .mat-paginator {
    background: none;
  }
  
  .mat-toolbar-row {
    justify-content: space-between;
  }
  
  .mat-column-select {
    overflow: initial;
  }
  
  .selected {
    background: #f5f5f5;
  }
  
  /* .element-row:hover {
      cursor: pointer;
      background: #f5f5f5;
  } */