.form {
    margin: auto;
    text-align: center;
  }
  
  .form-field {
    width: 500px;
    max-width: 90vw;
  }
  
  .submit-button {
    display: block;
    margin: 1em auto;
    width: 500px;
    max-width: 90vw;
  }