.container {
    padding: 1em;
    margin: auto;
    display: flex;
    flex-direction: column;
    width: 80em;
    max-width: 90%;
  }
  
  .card {
    width: calc(100% - 32px);
    /* width: 100%; */
    /* max-width: 90%; */
    margin: auto;
    border-radius: 0;
  }
  
  .table {
    /* width: 80em; */
    width: 100%;
    /* max-width: 90%; */
    margin: auto;
  }
  
  .input-space {
    width: 300px;
  }
  
  .upper-input-space {
    width: 244px;
    border-bottom: 1px solid gray;
  }
  
  .info-line {
    width: 20em;
    display: inline-block;
    margin: 0;
  }
  
  .user-link {
    margin: 0;
    display: inline-block;
  }
  
  /* .input {
      border-bottom: 1px solid gray;
  } */
  
  /* .info-div {
      margin: 0.75em 0;
  } */
  
  .action-buttons {
    display: flex;
    justify-content: space-between;
    margin: 0;
  }
  
  .header-image {
    background-image: linear-gradient(gray);
    background-size: cover;
  }