<h3 class="title">Patients</h3>

<app-patient-table #patientTableComponent></app-patient-table>

<div class="accordion spacing">
  <button mat-stroked-button color="primary" routerLink="/dashboard/add-patient">
      <!-- *ngIf="!newOrgOpen"  -->
    <mat-icon>add</mat-icon> Add Patient
  </button>
</div>


<!-- 
<h3 style="text-align: center;" *ngIf="!selectedAthlete; else selected">Select a patient to view their studies.</h3>

<ng-template #selected>
  <div class="container" (dragover)="showUploadBox = true">
    <mat-card class="card">
      <form [formGroup]="athleteForm">
        <mat-card-header>
          <div mat-card-avatar class="header-image"></div>
          <mat-card-title>
            <div *ngIf="!editMode; else editingName">
              {{ selectedAthlete.name }}
            </div>
            <ng-template #editingName>
              <!-- <mat-form-field> --=>
              <input matInput class="upper-input-space" formControlName="name" type="text">
              <!-- </mat-form-field> --=>
            </ng-template>
            <!-- <mat-form-field> -->
            <!-- <input matInput formControlName="name" type="text" [ngStyle]="{'border-bottom': editMode ? '1px solid gray' : ''}"> -->
            <!-- </mat-form-field> --=>
          </mat-card-title>
          <mat-card-subtitle>
            <div *ngIf="!editMode || !getStaffStatus(); else editingOrganization">
              {{ selectedAthlete.organization }}
            </div>
            <ng-template #editingOrganization>
              <!-- <mat-form-field style="width: 100%"> --=>
              <mat-select matInput formControlName="organization_id" style="width: 100%; border-bottom: 1px solid gray">
                <mat-option *ngFor="let organization of organizationList" [value]="organization.id">
                  {{organization.name}}</mat-option>
              </mat-select>
              <!-- </mat-form-field> --=>
            </ng-template>
          </mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <div class="info-div">
            <mat-form-field class="input-space">
              <mat-label>Height</mat-label>
              <input matInput formControlName="height" type="text">
              <span matSuffix>m</span>
            </mat-form-field>
          </div>
          <div class="info-div">
            <mat-form-field class="input-space">
              <mat-label>Weight</mat-label>
              <input matInput formControlName="weight" type="text">
              <span matSuffix>kg</span>
            </mat-form-field>
          </div>
          <div class="info-div">
            <mat-form-field class="input-space">
              <mat-label>Assigned User</mat-label>
              <mat-select matInput formControlName="user">
                <mat-option [value]="null">None</mat-option>
                <mat-option *ngFor="let user of userList" [value]="user.id">
                  {{user?.profile?.organization_name || 'Staff'}} - {{user.username}}</mat-option>
              </mat-select>
            </mat-form-field>
            <!-- </ng-template> --=>
          </div>
        </mat-card-content>
        <mat-card-actions *ngIf="getAdminStatus()" class="action-buttons">
          <div>
            <button mat-button *ngIf="!editMode; else editing" (click)="enableEditMode()">
              <mat-icon>edit</mat-icon>Edit Info
            </button>
            <ng-template #editing>
              <button mat-flat-button color="primary" (click)="saveEdits()">
                Save Changes
              </button>
              <button mat-button (click)="cancelChanges()">
                Cancel
              </button>
            </ng-template>
          </div>
          <div>
            <button mat-button color="warn" (click)="deleteAthlete()">
              <mat-icon>delete</mat-icon>Delete Athlete
            </button>
          </div>
        </mat-card-actions>
      </form>
    </mat-card>

    <app-dashboard-table class="table" [selectedAthlete]="selectedAthlete" (toggleUploadBox)="toggleShowUploadBox()"
      (studyChange)="refreshAthlete()"></app-dashboard-table>

    <!-- Upload box -->
    <!-- <div *ngIf="showUploadBox">
      <app-dashboard-upload [selectedAthlete]="selectedAthlete" (filesUploaded)="refreshAthlete()">
      </app-dashboard-upload>
    </div> --=>
  </div>
</ng-template> -->