
<app-patient-study-table class="table" #patientStudyTableComponent ></app-patient-study-table>
<div #fileDrop class="upload-box" (drop)="onDrop($event)">
  <button mat-stroked-button color="primary" class="upload-file-button" (click)="fileSelect.click()">
    <div *ngIf="!selectedFiles && !isParsing">Browse/drop files</div>
    <div *ngIf="isParsing" style="display: flex;">
      Parsing... 
      <!-- <mat-spinner style="display: inline-block;" diameter="25" color="primary"></mat-spinner> -->
    </div>
    <div *ngIf="selectedFiles && !isParsing">{{selectedFiles.length}} file(s) selected</div>
  
    <input #fileSelect type="file" style="display: none" (change)="selectedFiles = fileSelect.files" multiple>
  </button>
  <button mat-stroked-button color="primary" class="upload-folder-button" (click)="folderSelect.click()">
    <mat-icon>folder</mat-icon>
    <input #folderSelect type="file" style="display: none" (change)="selectedFiles = folderSelect.files" webkitDirectory>
  </button>
</div>
<div class="centered">
  <div>
    <button mat-flat-button color="primary" class="submit-file-button" [ngStyle]="{'padding': isUploading ? '0' : ''}"
      [disabled]="!selectedFiles || isParsing || isUploading" (click)="upload()">
      <mat-progress-bar *ngIf="isUploading" mode="determinate" [value]="uploadService.getUploadProgress()"></mat-progress-bar>
      <div *ngIf="!isUploading; else uploading">
        Upload Study Files <mat-icon style="vertical-align: middle">cloud_upload</mat-icon>
      </div>
      <ng-template #uploading>
        Progress: {{uploadService.getUploadProgress()| number:'.0-0'}}%
      </ng-template>
    </button>
  </div>
</div>























