.container {
    padding: 1em;
    margin: auto;
    display: flex;
    flex-direction: column;
    width: 80em;
    max-width: 90%;
  }

  .example-container {
    
    margin: auto;
   }
  
   .mainContent{
    padding: 1em;
    margin: auto;
   }
  
  .card {
    width: calc(100% - 32px);
    /* width: 100%; */
    /* max-width: 90%; */
    margin: auto;
    border-radius: 0;
  }
  
  .table {
    /* width: 80em; */
    width: 100%;
    /* max-width: 90%; */
    margin: auto;
  }
  
  .input-space {
    width: 300px;
  }
  
  .upper-input-space {
    width: 244px;
    border-bottom: 1px solid gray;
  }
  
  .info-line {
    width: 20em;
    display: inline-block;
    margin: 0;
  }
  
  .user-link {
    margin: 0;
    display: inline-block;
  }

  .mat-tab-label-active{
    background-color: red;
    opacity: 1 !important;

  }
  
  /* .input {
      border-bottom: 1px solid gray;
  } */
  
  /* .info-div {
      margin: 0.75em 0;
  } */
  
  .action-buttons {
    display: flex;
    justify-content: space-between;
    margin: 0;
  }
  
  .header-image {
    background-image: linear-gradient(gray);
    background-size: cover;
  }

  .example-input-label,
.example-add-tab-button,
.example-delete-tab-button {
  margin: 8px;
  float:right; 
  outline:none;
  opacity: 0.6;
}
.example-delete-tab-button:hover{ opacity: 1;}

.controlPanel{
  float:left;
  height: 60%;
  max-width: 10%;
  padding-top: 10em;
  }

.seriesTab{
  float: left;
  max-width: 90%;
  padding: 2em;
  padding-top: 1em;
  margin: auto;

}

.demo{
  float: left;
  height: 100%;
  

}

