
.container {
    /* display: flex; */
    /* justify-content: center; */
    width: 300px;
    display: table;
    margin: 0 auto;
}

.org-form {
    width: 100%;
}

.container mat-form-field {
    width: 100%;
}

.submit-button {
    float: right;
}