<div>
  <mat-toolbar>
    <span>Login</span>
  </mat-toolbar>

  <div>
    <form [formGroup]="loginForm" (ngSubmit)="login()">
      <mat-form-field appearance="fill" class="login-form">
        <mat-label for="username"> Username*</mat-label>
        <input matInput autofocus formControlName="username" autocomplete="username">
      </mat-form-field>
      <br>
      <mat-form-field appearance="fill" class="login-form">
        <mat-label for="password"> Password*</mat-label>
        <input matInput formControlName="password" autocomple="current-password">
      </mat-form-field>
      <br>

      <button mat-raised-button color="primary">Login</button>
    </form>
  </div>
</div>