.title {
  text-align: center;
}

.accordion {
  display: block;
  width: 960px;
  max-width: 90%;
  margin: right;
}

.spacing {
  margin: 8px auto;
}

.full-width {
  width: 300px;
}

.one-third-width {
  width: 100px;
}

.block {
  display: block;
}

.button-row {
  display: flex;
  justify-content: space-between;
}